.CustomerCare {
    display: flex;
  
    .CustomerCareBody {
      flex: 6;
      height: 100%;
      
      .titleContainer{
        display: flex;
        justify-content: space-between;
        margin: 10px 20px;

        h4{
            font-size: 22px;
            color: #6439ff;
            padding: 10px;
        }
        .links{
          .link{
            padding: 0 15px;
            text-decoration: none;
            color: #6439ff;
          }
        }
      }
  
      .customerCareBodydetails {
        background: url('../../static/customerCare.png');
        height: 70vh;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        background-position: center center;
        overflow-x: hidden;

        h3{
            color: #6439ff;
        }
        p{
            color: #777;
        }
        
      }
    }
  }
  