.sales{
    display: flex;
    overflow-x: hidden;
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
      ::-webkit-scrollbar {
        width: 12px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #6439ff;
        border-radius: 6px;
      }

    .salesContainer{
        flex: 6;

        .salesPageDetails{
            display: flex;
            flex-direction: column;
            .titleContainer{
              display: flex;
              justify-content: space-between;
              margin: 10px 20px;

              h4{
                  font-size: 22px;
                  color: #6439ff;
                  padding: 10px;
              }
              .links{
                display: flex;
                .link{
                  padding: 0 15px;
                  text-decoration: none;
                  color: #6439ff;
                }
              }
            }
            .salesPerformance{
                height: 300px;
                margin: 10px 0;
                padding: 0 10px;

            }
        }
    }
}